@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/buttons';
@import 'open-props/media';

html,
body {
	height: 100dvh;
}

.logo {
	height: var(--size-10);
	color: var(--text-1);

	@media (--md-n-above) {
		height: var(--size-11);
		width: auto;
	}
}

p > a,
li > a {
	color: var(--pink-6);
}

p > a {
	font-weight: var(--font-weight-8);
	text-decoration: wavy underline;
	text-underline-offset: 0.3rem;
	text-decoration-skip-ink: none;
}

li > a {
	text-decoration: underline;
}

p > a:hover {
	color: var(--pink-8);
}

@media (--OSdark) {
	p > a:hover {
		color: var(--pink-4);
	}
}

.mono {
	font-family: var(--font-mono);
}

form {
	display: flex;
	flex-direction: column;
	margin-block: var(--size-fluid-2);
	max-width: 100%;

	@media (--md-n-above) {
		max-width: 40ch;
	}
}

label {
	margin-block-end: var(--size-1);
}

label:first-child {
	margin-block-start: var(--size-6);
}

form p.error {
	color: var(--red-7);
	font-size: var(--font-size-1);
	margin-block-start: calc(var(--size-6) - 1lh);
}

h1 {
	font-size: var(--font-size-fluid-3);
	line-height: 1.05;
}

h2 {
	font-size: var(--font-size-fluid-2);
	color: var(--text-2);
	line-height: 1.05;
	margin-block-start: var(--size-1);
	margin-block-end: var(--size-8);
}

p {
	max-width: 50ch;
	margin-block-start: var(--size-fluid-3);
	font-size: var(--font-size-fluid-1);
	color: var(--text-1);
	line-height: 1.5;
}

li {
	margin-block-start: var(--size-2);
	font-size: var(--font-size-fluid-1);
}

input[type='submit'] {
	margin-block-start: var(--size-2);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@media (--md-n-above) {
	table#domains-table {
		max-width: 70ch;
	}

	table#domains-table :is(th:first-child, td:first-child, td.wider) {
		padding-inline: var(--size-3);
	}
}
