html,
body {
	height: 100dvh;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 40ch;
	margin-block: var(--size-fluid-2);
}

label {
	margin-block-end: var(--size-1);
}

h1 {
	font-size: var(--font-size-fluid-3);
}

h2 {
	font-size: var(--font-size-fluid-2);
	color: var(--text-2);
	line-height: 1.05;
	margin-block-start: var(--size-1);
	margin-block-end: var(--size-8);
}

p {
	max-width: 50ch;
	margin-block-start: var(--size-fluid-3);
	font-size: var(--font-size-fluid-1);
	color: var(--text-1);
	line-height: 1.5;
}

li {
	margin-block-start: var(--size-2);
	font-size: var(--font-size-fluid-1);
}

input[type='submit'] {
	margin-block-start: var(--size-2);
}

form p.error {
	color: var(--red-7);
	font-size: var(--font-size-1);
}
